{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/filter.css') }}">
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ url_for('upload') }}">Upload More</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                {% for file_name in file_urls %}
                {% if file_urls[file_name] == selected_image_url %}
                <li class="active"><a href="{{ url_for('filter_image', img_name=file_name) }}">{{ file_name }}</a></li>
                {% else %}
                <li><a href="{{ url_for('filter_image', img_name=file_name) }}">{{ file_name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-offset-2 main">
            <h1 class="page-header">Apply a filter</h1>
            <form method="POST" role="form" id="filter_form">
                <ul>
                    <div class="row">
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <h3>Original</h3>
                            <input type="radio" name="original" checked value="{{ selected_image_url }}" />
                            <label for="original_img"><img id="original_img" src="{{ selected_image_url }}" class="img-responsive" /></label>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                            <h3>Filtered</h3>
                            <input type="radio" name="filtered" />
                            <label for="filtered_img">
                                <img id="filtered_img_res" src="{{ selected_image_url }}" class="img-responsive" />
                            </label>
                        </div>
                    </div>
                </ul>

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="filters">Filter: </label>
                        <select name="filters" class="form-control" id="filters">
                            <optgroup label="Smoothing">
                                <option value="avg_smoothing">Averaging</option>
                                <option value="guass_smoothing">Gaussian</option>
                            </optgroup>
                            <optgroup label="Sharpening">
                                <option value="laplacian_pos_zero">Laplacian (+zero)</option>
                                <option value="laplacian_pos_nonzero">Laplacian (+nonzero)</option>
                                <option value="laplacian_neg_zero">Laplacian (-zero)</option>
                                <option value="laplacian_neg_nonzero">Laplacian (-nonzero)</option>
                                <option value="unsharp_mask" disabled>Unsharp Masking</option>
                                <option value="high_boost" disabled>High Boost</option>
                                <option value="first_order_deriv">First Order Derivative</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <p id="current_filter">No filter selected.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="mask_size">Mask Size</label>
                        <input name="mask_size" type="text" class="form-control" id="mask_size" value="3">
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <p id="current_mask">No mask size set.</p>
                    </div>
                </div>
                <div id="k_value_row" class="row" style="display:none;">
                    <div class="form-group col-xs-3">
                        <label for="k_value">Intensity Value (k)</label>
                        <input name="k_value" type="text" class="form-control" id="k_value" value="1">
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <p id="current_kvalue">No k value set.</p>
                    </div>
                </div>
                <div id="threshold_row" class="row" style="display:none;">
                    <div class="form-group col-xs-3">
                        <label for="threshold">Threshold</label>
                        <input name="threshold" type="text" class="form-control" id="threshold" value="1">
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <p id="current_threshold">No threshold set.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <button id="apply" class="btn btn-default btn-block" type="button">Apply</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-3">
                        <a id="img-download" download="filtered-img.jpg" href="{{ selected_image_url }}">
                            <button id="dload" class="btn btn-default btn-block" type="button">Download Filtered Image</button>
                        </a>
                    </div>
                </div>
                <br />
                <br />
            </form>
        </div>
    </div>

</div>

{% endblock %}