{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/filter.css') }}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="{{ url_for('upload') }}">Upload More</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    {% for file_name in file_urls %}
                        {% if file_urls[file_name] == selected_image_url %}
                            <li class="active"><a
                                    href="{{ url_for('filter_image', img_name=file_name) }}">{{ file_name }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('filter_image', img_name=file_name) }}">{{ file_name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-offset-2 main">
                <h1 class="page-header">Apply a filter</h1>
                <form method="POST" role="form">
                    <ul>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6">
                                <h3>Original</h3>
                                <input type="radio" name="original" checked value="{{ selected_image_url }}"/>
                                <label for="original_img"><img id="original_img" src="{{ selected_image_url }}"
                                                               class="img-responsive"/></label>
                            </div>
                            <div class="col-xs-6 col-md-6 col-lg-6">
                                <h3>Filtered</h3>
                                <input type="radio" name="filtered"/>
                                <label for="filtered_img"><img id="filtered_img_res" src="{{ selected_image_url }}"
                                                               class="img-responsive"/></label>
                            </div>
                        </div>
                    </ul>

                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Select a filter to apply below.</h3>
                            <div class="col-xs-3">
                                <select class="form-control" id="filters">
                                    <option value="filter_1">Filter 1</option>
                                    <option value="filter_2">Filter 2</option>
                                    <option value="filter_3">Filter 3</option>
                                    <option value="filter_4">Filter 4</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-default btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}